<div class="banner">
    <div class="banner-top">
        <h2 class="banner-logo"><img src="img/sosz22.png" alt="SOSZ 22"></h2>
    </div><!-- / banner-top -->

    <div class="banner-hashtag">
        <span>@cachirulovalley</span>
        <span>#sosz22 en Twitter</span>
    </div><!-- / banner-top -->

    <p class="banner-date">Septiembre 2022</p>
    <ul class="banner-countdown">
      <!--
        <h4>¿Por qué posponemos el evento?</h4>
        <p>
          Debido a la expansión del COVID-19 y las medidas que se están tomando tanto a nivel local como nacional, la organización del SOSZ nos hemos reunido, hemos evaluado las opciones disponibles y recomendaciones de los organismos públicos y hemos decidido que lo más coherente y responsable es posponer el evento a una fecha donde toda la gente que quiera venir lo pueda hacer sin problema.
        </p>
        <br/><br/>
      -->
        <!--<li><span class="days"></span><span class="days_ref">días</span></li>
        <li><span class="hours"></span><span class="hours_ref">horas</span></li>
        <li><span class="minutes"></span><span class="minutes_ref">minutos</span></li>
        <li><span class="seconds"></span><span class="seconds_ref">segundos</span></li>-->
    </ul><!-- / banner-countdown -->

    <!-- 
      <div class="banner-buttons">
          <a class="button" href="#">Entradas agotadas</a>
      </div>
    -->
    <!-- / banner-buttons -->

</div><!-- / banner -->
